rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /id_cards/{id}/id_card.png {
      allow read, write: if true;
    }
    match /id_cards/{id}/avatar.png {
      allow read, write: if true;
    }
  }
}